<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>红点e贷注册</title>
		<link href="__PUBLIC__/home/css/reset.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/home/css/hdyd_zc.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div id="register_kj_finish">
			<div class="register_content_finish">
				<div class="register_h325"></div>
				<div class="register_finish_info">
					<p class="finish_tips">
						恭喜您完成注册
					</p>
					<div class="register_h40"></div>
					<p class="finish_text">
						尊敬的用户，您已成功注册红点e贷，请<a href="" class="login">点击登录</a>！
					</p>
					<div class="register_h60"></div>
					<div class="back_homepage">
						<a href="{<:U('/home/index/index')>}">返回首页</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
