<div id="bottom">
	<div class="bottom_wrap">
		<div class="b_left left_float">
			<p class="bottom_logo"></p>
			<p class="text">
				<a href="">在线客服QQ：2284580459 </a>
			</p>
			<p class="text">
				<a href="">投资交流Q群：474601828</a>
			</p>
		</div>
		<div class="b_center left_float">
			<p class="ewm_img"><span><img src="__PUBLIC__/home/img/hdyd_wxgzh.png"></span><span><img src="__PUBLIC__/home/img/hdyd_wxzc.png"></span></p>
			<p class="text">扫面微信二维码,更多惊喜等着您！</p>
		</div>
		<div class="b_right  left_float">
			<p class="dianhua"><span class="left_float"><img src="__PUBLIC__/home/img/lxdh_400.png"/></span><span>服务时间：9:00-17:30</span><br/><span class="bottom_color1 bottom_fs">400-8600-958</span></p>
			<p class="youxiang">客服邮箱：service@hongdianyidai.com</p>
		</div>
		<div class="clear"></div>
		<ul class="bottom_ul">
			<li>
				<a href="">关于我们</a><span>|</span></li>
			<li>
				<a href="">加入我们</a><span>|</span></li>
			<li>
				<a href="">联系我们</a><span>|</span></li>
			<li>
				<a href="">意见反馈</a><span></span></li>
			<div class="clear"></div>
		</ul>
	</div>
	<p class="bqsm">Copyright © 2016 江苏红点惠中投资管理有限公司
		<a href="http://www.hongdianyidai.com/images/p2pImage_2/ICP.jpg"> 苏ICP 证 B2-20160144号</a>
		<a href="http://www.miitbeian.gov.cn/">苏ICP 备 15040511号</a>
	</p>
</div>
