<div class="top">
	<div class="top_wrap">
		<div class="l_wxdh">
			<a href="" class="weixin">
				</i>官方微信</a>
			<a href="" class="sjapp">
				</i>移动客户端</a>
			<!--登录过后的-->	
			<ul class="top_denglu">
				<li>你好，</li>
				<li class="yhm_u">
					<a href="" class="user_yh">xxxxxx</a>
					<a href="" class="arrow_down arrow_down01"></a>
					<div class="down_up">
						<div class="loadfail fn-hide">
							<img src="__PUBLIC__/home/img/loading.gif">
						</div>
						<div class="ui-nav-dropdown-account-box">
							<div class="fn-clear">
								<div class="user-avatar-container fn-left">
									<a href="/p2p/account.action"><img width="78" height="78" id="he-userAvatar" src="__PUBLIC__/home/img/default-avatar-78.png"></a>
								</div>
								<dl class="user-info-container mt10 fn-left">
									<dd class="mb10">
										<span class="mr10 color-dark-text">账户余额</span> 
										<span class="num-m color-orange-text"> 
											<em id="he-avaliableBalance">0.00</em>元
										</span>
									</dd>
									<dd>
										<a class="fn-left ui-button ui-button-green ui-button-mid mr10" href="/p2p/capitalrecharge.action">充值</a>
										<a class="fn-left ui-button ui-button-blue ui-button-mid last" href="/p2p/capitalwithdraw.action">提现</a>
									</dd>
									<dd class="user-info-container-tips" style="display: block;">
										为保证您可完整使用红点e贷网站功能，请完成下面各项设置</dd>
									<dd class="fn-clear icons" style="display: block;">
										<div class="fn-left icon-box light" style="margin-left: -8px">
											<a title="绑定手机，已绑定" href="/p2p/infosecurity.action" class="fn-left safe-rank cellphone  light"></a>
										</div>
										<div class="fn-left icon-box light">
											<a title="实名认证，未验证" href="/p2p/infosecurity.action" class="fn-left safe-rank man"></a>
										</div>
										<div class="fn-left icon-box light">
											<a title="交易密码，未设置" href="/p2p/infosecurity.action" class="fn-left safe-rank lock"></a>
										</div>
									</dd>
								</dl>
								<div class="clear"></div>
							</div>
							<div class="ui-nav-dropdown-bottom">
								<a class="ui-button ui-button-blue ui-button-mid" href="/p2p/account.action">进入我的红点e贷</a>
							</div>
						</div>
				</li>
				<li class="">
					<a href="">[退出]</a>
				</li>
			</ul>
			<!--未登录-->
			<ul class="top_zc">
				<li class="dl"><a href="{<:U('/Home/user/login')>}">登录 </a> <span> | </span></li>
				<li class="zc"><a href="{<:U('/Home/user/register')>}">注册</a></li>
<!-- 						<li class="zc"><a href="javascript:alert('注册页面更新中,敬请期待!')">注册</a></li>
 -->					</ul>
			</div>
			<ul class="r_tul">
				<li>
					<a href="">关于我们</a><span>|</span></li>
				<li>
					<a href="">帮助中心</a><span>|</span></li>
				<li>
					<a href="javascript:void(0)" onclick="javascript:addFavorite2();">加入收藏</a>
				</li>
				<div class="clear"></div>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="head">
		<div class="hdyd_logo">
			<a href="http://www.hongdianyidai.com"><img src="__PUBLIC__/home/img/hdyd_logo.png" /></a>
		</div>
		<ul class="r_navul">
			<li class="nav_li">
				<a href="" class="nav_a">首页</a>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a1">我要理财
					<span></span>
					<b class="b1"></b>
				</a>
				<ul>
					<li>
						<a href="">债权转让而已</a>
						<em></em>
					</li>
					<li>
						<a href="{<:U('/Home/Inside/invest')>}">散标投资</a>
					</li>
				</ul>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a">我要借款</a>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a">新手指引</a>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a1">关于我们
					<span></span>
					<b class="b1"></b>
				</a>
				<ul>
					<li>
						<a href="hdyd_gsjj.html">公司简介</a>
						<em></em>
					</li>
					<li>
						<a href="">新闻资讯</a>
						<em></em>
					</li>
					<li>
						<a href="">公司动态</a>
						<em></em>
					</li>
					<li>
						<a href="">招纳贤士</a>
					</li>
				</ul>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a">手机客户端</a>
			</li>
			<li class="nav_li">
				<a href="" class="nav_a">我的账户</a>
			</li>
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
	</div>
</div>